 *, ::after, ::before {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    color: #888;
    font-family: 'Oxygen', sans-serif;
}
#home{
    background-image: url("../images/mikab\ college.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
#home-overlay{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar{
    z-index: 999;
    padding-right: 45px;
}
#brand{
    margin-bottom: 0;
    padding-top: 10px;
}
#logo{
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    border-radius: 50px;
}
#schoolname{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#schoolname a{
    text-decoration:none;
    color:white;
}
.navlink{
    color: white;
    display: inline-block;
    padding-left: 20px;
    text-decoration: none;
}
.navlink:hover{
    color: greenyellow;
    text-decoration: none;
}
#side-nav-open {
    font-size: 19px;
    position: absolute;
    left: 7px;
    top: 47px;
    background: rgb(58, 55, 54);
    color: white;
    display: none;
    padding: 7px 13px;
    border-radius: 100px;
}
#side-nav{
    background: linear-gradient(to right, #124d12, #008000);
    width: 0;
    top: 0;
    right: 0;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 99999;
    transition: 0.5s;
}
#side-nav a{
    padding: 10px;
    color: white;
    display: block;
    text-decoration: none;
}
#side-nav a:hover{
    color: greenyellow;
    text-decoration: none;
}
#side-nav-close{
    display: none;
    text-align: left;
    font-size: 30px;
}
#action-txt-1{
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
#action-txt-1 h2{
    color: #56c756;
    font-family: cursive;
    text-shadow: 3px 1px 3px rgba(45, 45, 45, 0.14);
}
.button{
    width: 190px;
    height: 50px;
    background: linear-gradient(to right, #124d12, #008000);
    color: white;
    border: none;
    margin-top:10px;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.4s;
}
.button:hover,
.button:focus{
    background: #2a2b2d;
    transition: 0.4s;
}
.modal-header{
    background-color: green;
    color: white;
}
.headers{
    color: green;
    font-family: cursive;
    text-shadow: 3px 1px 3px rgba(45, 45, 45, 0.14);
}
#welcome-video-container{
    text-align: center;
    background-color: #efefef;
    padding-bottom: 40px;
}
video{
    width: 680px;
    height: 400px;
}
#aboutus{
    padding: 80px 150px 0;
}
#about-heading{
    padding-bottom: 35px;
    padding-left: 35px;
}
#about-photo{
    background-image: url("../images/mikab_structure.jpg");
    background-position: center;
    background-size: cover;
}
#about-col-1{
    padding-right: 0;
}
#about-col-2{
    padding-left: 0;
}
.about-cards{
    box-shadow: -17px 10px 30px rgba(0, 0, 0, 0.35);
    padding: 25px
}
#read-more{
    color: green;
    font-weight: bold;
    text-decoration: none;
}
#values{
    margin-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
}
#values-container{
    padding: 0 100px;
    margin-left:auto;
    margin-right:auto;
}
#core-values{
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
}
#action-txt-2{
    background-image: url("../images/mikab_students_walking_into_their_classes.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 50px;
    padding: 0;
}
#action-txt-2-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px;
}
#meetus{
    padding: 80px 80px 50px;
    background-color: #efefef;
}
#management-heading{
    padding-left: 35px;
    padding-bottom: 30px;
}
.almanac-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px
}
.almanac{
    padding: 35px 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.almanac-image{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.almanac-portfolio{
    height: 11em;
    width: 12em;
    display: flex;
    margin: auto;
    margin-top: -40px;
    border-radius: 100%;
    box-shadow: 10px 10px 30px;
}
.almanac-portfolio p{
    margin:auto;
}
#staff-profile-button-container{
    text-align: center;
}
#upcoming-events{
    background-image: url("../images/inter_house_sport.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    color: white;
    text-align: center;
}
#upcoming-events-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}
#calendar-icon{
    font-size: 40px;
}
#download-calendar-button{
    padding: 10px;
    background: linear-gradient(to right, #124d12, #008000);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.4s;
}
#download-calendar-button:hover{
    background: #2a2b2d;
    transition: 0.4s;
}
#testimonial{
        padding: 80px 150px 50px;
}
#testimonial-heading{
    padding-bottom: 2em;
}
.testimonies-container{
    padding: 60px 0;
}
.testimonies{
    padding: 20px;
    margin-bottom: 6em;
    background-color: #efefef;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.25);
    transition: 0.5s;
}
.testimonies:hover{
    background-color: rgba(0,0,0,0.5);
    color: #efefef;
    transition: 0.5s;
}
.testimonies:hover .author{
    color: yellowgreen;
}
.profile-picture{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top: -80px;
}
.author{
    color: green;
    text-align: end;
}
#wordsonmarble{
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    text-align: center;
    height: 11em;
}
#wordsonmarble-heading{
    padding-bottom: 30px;
}
#wordsonmarble-carousel-inner{
    margin-right: auto;
    margin-left: auto;
}
#gallery{
    padding: 35px 120px 10px;
}
#gallery-heading{
    padding-bottom: 30px;
}
.gallery-image-box{
    padding: 0px;
    overflow: hidden;
}
.social-icons{
    text-align: center;
    background: linear-gradient(to right, #124d12, #008000);
    padding: 10px;
    bottom: -50%;
    position: absolute;
    width: 100%;
}
.social-icons a{
    color: white;
    padding: 10px;
}
.social-icons a:hover{
    color: greenyellow;
}
.gallery-grids:hover .social-icons {
    bottom: -1px;
    transition: 0.5s;
}
.gallery-grids img{
    transition: 0.5s;
    cursor: pointer;
}
.gallery-grids:hover img {
    transform: scale(1.3);
    transition: 0.5s;
}
#view-more-imgs{
    padding-top: 10px;
}
#contact{
    margin-top: 50px;
    background-color: #efefef;
    padding-bottom: 50px;
    padding-top: 50px;
    padding: 30px;
}
#contact-heading{
    padding-left:35px;
}
#form-container{
    padding: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
#form{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-image: url("../images/logo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#form-overlay{
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}
.text-space{
    width: 100%;
    padding: 0 20px;
    border-radius: 7px;
    height: 40px;
    border: none;
    outline: none;
}
textarea{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px; 
    outline: none;
}
#submit{
    margin-top: 10px;
}
#carousel-container{
    margin-top: auto;
    margin-bottom: auto;
}
footer{
    background-color: #2a2b2d;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0;
}
#footer-content-container{
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}
#direct-up{
    height: 20px;
}
#direct-up a{
    color: white;
}
#direct-up-icon{
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0%{
        padding-top: 15px;
    }
    100%{
        padding-top: 0;
    }
}
@media only screen and (min-width:1220px){
    #meetus{
        padding: 80px 50px 50px;
    }
    .testimonies-box{
        flex: 0 0 25%;
    }
    .testimonies {
        margin-bottom: 0;
    }
}
@media only screen and (max-width:1050px){
    #brand{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px 0;
    }
    .navbar{
        flex-direction: column;
        padding: .5rem 0;
    }
    .navbar-nav-container{
        width: 100%;
        background-color: #2a2b2db3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        margin-top: 30px;
        overflow: auto;
    }
    #navbar-nav{
        white-space: nowrap;
        overflow: auto;
    }
    #action-txt-1 {
        height: 60%;
    }
    #meetus{
        padding: 80px 50px 50px;
    }
}
@media only screen and (max-width:991px){
    #aboutus {
        padding: 80px 30px 0;
    }
    #values-container {
        padding: 0 30px;
    }
    #words-from-director{
        padding-right: 10px;
    }
    .about-cards{
        box-shadow: none;
        padding: 0;
    }
    #about-photo{
        height: 15em !important;
    }
    #about-brief-history{
        text-align: right;
    }
    #about-col-1{
        padding-left: 0;
    }
    #about-col-2{
       padding: 20px;
    }
    #joint-card{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    }
    #upcoming-events-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 30px;
    }
    #meetus {
        padding: 80px 0px 50px;
        }
    .almanac-container{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-right: 0;
        margin-left: 0;
    }
    .almanac{
        flex: 0 0 auto;
        scroll-snap-align: center;
        width: 60%;
        max-width: 60%;
    }
    .almanac-image{
        height: 300px;
        width: 300px;
    }
    #testimonial {
        padding: 80px 50px 50px;
    }
    #gallery {
        padding: 35px 40px 10px;
    }
    .gallery-info{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }
    .gallery-image-box{
        flex: 0 0 auto;
        scroll-snap-align: center;
        width: 80%;
    }
}
@media only screen and (max-width:890px){
    #side-nav-open{
        display: block;
    }
}
@media only screen and (max-width:800px){
    video{
        width: 500px;
        height: 300px;
    }
}
@media only screen and (max-width:630px){
    #about-heading{
        text-align: center;
        padding-left: 0;
    }
    #management-heading{
        text-align: center;
        padding-left: 0;
    }
    #testimonial {
        padding: 80px 20px 50px;
    }
    #testimonial-heading{
        text-align: center;
        padding-left: 0;
    }
    .testimonies-container{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }
    .testimonies {
        margin-bottom: 0;
    }
    .testimonies-box{
        flex: 0 0 auto;
        scroll-snap-align: center;
        width: 80%;
    }
    #gallery {
        padding: 35px 30px 10px;
    }
    #gallery-heading{
        text-align: center;
        padding-left: 0;
    }
    #contact-heading{
        text-align: center;
        padding-left: 0;
    }
}
@media only screen and (max-width:576px){
    video{
        width: 350px;
        height: 200px;
    }
    #aboutus {
        padding: 80px 10px 0;
    }
    #values-container {
        padding: 0;
    }
    .almanac-image{
        height: 200px;
        width: 200px;
    }
    #joint-card{
        width: 25em;
    }
    #action-txt-1 {
        padding: 70px;
    }
    #values div {
        margin: 0;
    }
}
@media only screen and (max-width:430px){
    .testimonies-box{
        width: 93%;
    }
    .almanac{
        width: 80%;
        max-width: 80%;
    }
    #joint-card{
        width: 100%;
    }
    #contact-heading {
        padding-left: 15px;
    }
    #management-heading {
        padding-left: 15px;
    }
    #schoolname {
        font-size: 18px;
    }
    #action-txt-1 {
        padding: 30px;
    }
    #action-txt-2-overlay {
        padding: 40px;
    }
    #about-heading {
        padding-bottom: 35px;
    }
}
@media only screen and (max-width:381px){
    #logo {
        width: 50px;
        height: 50px;
    }
    #side-bar-open {
        font-size: 18px;
    }
    .navbar {
        padding-top: 15px;
    }
    #schoolname {
        font-size: 17px;
    }
    video{
        width: 310px;
        height: 180px;
    }
    .almanac{
        width: 90%;
    }
    #management-heading {
        padding-left: 10px;
    }
    #form-container{
        padding: 10px;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width:340px){
    .value-box{
        padding: 0;
    }    
    #values div{
        padding: 3px;
    }    
}